@font-face {
    font-family: Muli;
    src:url("./fonts/Muli-Regular.ttf") format('truetype');
}

@font-face {
    font-family: Muli-Bold;
    src:url("./fonts/Muli-Bold.ttf") format('truetype');
}

* {
    font-family: Muli;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    flex-direction: column;
    display: flex;
    width: calc(100vw - 20px);
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 56px;
    z-index: 5000;
}
.header-left {
    align-items: center;
    height: 100%;
    display: flex;
}

.logo-1 {
    margin-right: 40px;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 60px;
}
.logo {
    display: flex;
    align-items: center;
}

.header-services {
    display: flex;
    height: 60px;
}

.ser {
    margin-right:30px;
    display: flex;
    align-items: center;
    height: 60px;
}

.header-services .ser {
    justify-content: center;
    font-size: 16px;
}

.ser svg {
    margin-left:5px;
}

.header-right {
    align-items: center;
    height: 100%;
    display: flex;
}

.r-setting {
    display: flex;
    height: 60px;
}

.set-green {
    color: rgb(0, 191, 143);
}

.set {
    margin-right:30px;
    display: flex;
    align-items: center;
    height: 60px;
}

.r-setting .set {
    justify-content: center;
    font-size: 16px;
}

.set-icon-after {
    margin-left: 5px;
    color: black;
}

.set-icon-before {
    margin-right: 10px;
}

.form-container {
    margin-top: 56px;
    display: flex;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/form-container-background.webp");
    width: 100%;
    height: 723px;
}

.left-form-container {
    color: white;
    display: flex;
    justify-content:right;
    margin-top: 50px;
    width: 50%;
}

.form-container-text {
    flex-direction: column;
    display: flex;
    width: 540px;
    height:675px;
}

.dog-text {
    margin-top: 20px;
    margin-bottom: 15px;
}

.form-container-text span {
    font-size: 30px;
    margin-bottom: 15px;

}

.form-container-text h2 {
    margin-bottom: 15px;
    font-size: 60px;
    font-family: Muli-Bold;
}

.right-form-container {
    margin-left:30px;
    display: flex;
    margin-top: 50px;
    width: 50%;
}

.module-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: white;
    width: 536px;
    height: 675px;
    border-radius: 5px;
    box-shadow: rgba(71, 71, 71, 0.47) 0px 2px 11px 0px;

}

.header-module {
    font-size:19px;
    color: rgb(114, 114, 114);
    font-family: Muli-Bold;

}

.first-module {
    display: flex;
    padding: 10px;
    border-width: 1px;
    margin-top: 10px;
    width: 330px;
    height: 50px;
    border-radius: 7px;
    font-size:19px;
}

.module-rule {
    margin-top:14px;
    color: rgb(114, 114, 114);
}

.module-policy {
    margin-top:14px;
    color: rgb(114, 114, 114);
}

.button-start {
    margin-top: 30px;
}
.btn-start {
    background: #d1d1d1;
    color: rgb(114, 114, 114);
    justify-content: center;
    align-items: center;
    display: flex;
    width: 130px;
    height: 40px;
    font-size: 15px;
    border-radius: 7px;
    border-width: 0px;
    font-family: Muli-Bold;
}

.explanation-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 24px 40px;
    width: 100%;
    min-height: 551px;
}

.h-explanation {
    color: rgb(114, 114, 114);
    font-family: Muli-Bold;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

.second-container {
    width: 1050px;
    justify-content:space-between;
    margin-top: 10px;
    display: flex;
}

.explanation {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 346px;
    height: 308px;
}

.explanation img {
    width:130px;
    height:130px;
}

.t-explanation {
    margin-top: 24px;
    color: rgb(114, 114, 114);
    font-family: Muli-Bold;
    font-size: 18px;
}

.explanation-text {
    display: flex;
    text-align: center;
    color: rgb(114, 114, 114);
    margin-top:16px;
    font-size: 18px;
}

.work {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ededed;
    width: 100%;
    height: 495px;
}

.work-container {
    display: flex;
    justify-content: space-between;
    width: 1090px;
    height: 336px;
}

.left-work-container {
    width: 516px;
    height: 336px;
}

.work-text {
    width:516px;
    height:336px;
}

.work-header {
    font-size: 48px;
    font-weight: bold;
    color: rgb(114, 114, 114);
}

.work-mid-text {
    color: rgb(114, 114, 114);
    font-size:18px;
    margin-top: 14px;
    margin-bottom:14px;
}

.bottom-work-text {
    font-size:18px;
    font-weight: bold;
}

.work-img {
    width: 530px;
}

.work-img img {
    width: 540px;
    height: 336px;
}

.video-content {
    margin-top:50px;
    display: flex;
    width: 100%;
    height: 408px;
    flex-direction: column;
    align-items: center;
}

.video-container-header {
    display: flex;
    justify-content: center;
    font-size: 54px;
    font-weight: bold;
    color: rgb(114, 114, 114);
    width: 1072px;
    height: 60px;
    margin-bottom: 70px;
}

.video-container-content {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 17px 0px;
    padding: 24px;
    width: 427px;
    height: 197px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.video-content-left {
    width: 209px;
    height: 131px;
}

.video-content-text {
    font-size:18px;
    color: rgb(114, 114, 114);
}

.video-content-icon {
    width: 168px;
}

.video-content-icon img {
    width: 168px;
    height: 149px;
}

.play-button {
    width: 56px;
    height: 56px;
    position: absolute;
    bottom: -28px;
}

.video-signature {
    width: 427px;
    height: 50px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    color: rgb(114, 114, 114);
    font-size: 18px;
    margin-left: 14px;
}

.left-signature {
    font-weight: bold;
}

.video-all {
    width: 870px;
    display: flex;
    justify-content: space-between;
}

.pet-caregivers {
    margin-top: 50px;
    background-color: rgb(58, 80, 128);
    width: 100%;
    height: 653px;
    display: flex;
    justify-content: center;
}
.pet-caregivers-container {
    width: 1120px;
    height: 653px;
}

.pet-caregivers-header {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    width: 100%;
    height: 60px;
    margin-top: 40px;
}

.pet-caregivers-container-content {
    margin-top: 50px;
    width: 1072px;
    height: 334px;
    display: flex;
    justify-content: space-between;
}

.pet-caregivers-content {
    display: flex;
    align-items: center;
    width: 500px;
    height: 108px;
}

.pet-caregivers-left {
    font-style: oblique;
    color: rgb(251, 236, 185);
}

.pet-caregivers-first {
    font-size: 56px;
}

.pet-caregivers-second {
    font-size: 18px;
    display: flex;
    justify-content: end;
}

.pet-caregivers-right {
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}
.pet-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pet-caregivers-button-container {
    margin-top: 10px;
    width: 1072px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pet-caregivers-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pet-button {
    background-color: rgb(251, 236, 185);
    color: rgb(133, 98, 62);
    justify-content: center;
    align-items: center;
    display: flex;
    width: 130px;
    height: 40px;
    font-size: 15px;
    border-radius: 7px;
    border-width: 0px;
    font-family: Muli-Bold;
}

.pet-button:hover {
    opacity: 0.8;
}

.pet-button-text {
    margin-top: 14px;
    font-size: 18px;
    color: white;
}

.footer {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 112px;
}

.footer-container {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 1120px;
    height: 41px;
}

.footer-left {
    color: rgb(153, 153, 153);
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.footer-name {
    font-size: 14px;
    height: 41px;
    width: 160px;
}
.footer-url {
    color: rgb(153, 153, 153);
    text-decoration: none;
}

.footer-right {
    width: 150px;
    height: 41px;
    display: flex;
    justify-content: space-between;
}

.footer-line {
    margin-top: 40px;
    background-color: rgb(209, 209, 209);
    border: none;
    height: 1px;
}
