@font-face {
    font-family: Muli;
    src:url("./fonts/Muli-Regular.ttf") format('truetype');
}

@font-face {
    font-family: Muli-Bold;
    src:url("./fonts/Muli-Bold.ttf") format('truetype');
}

* {
    font-family: Muli;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    flex-direction: column;
    display: flex;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 56px;
}
.header-left {
    align-items: center;
    height: 100%;
    display: flex;
}

.logo-1 {
    margin-right: 40px;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 60px;
}
.logo {
    display: flex;
    align-items: center;
}

.header-services {
    display: flex;
    height: 60px;
}

.ser {
    margin-right:30px;
    display: flex;
    align-items: center;
    height: 60px;
}

.header-services .ser {
    justify-content: center;
    font-size: 16px;
}

.ser svg {
    margin-left:5px;
}

.header-right {
    align-items: center;
    height: 100%;
    display: flex;
}

.r-setting {
    display: flex;
    height: 60px;
}

.set-green {
    color: rgb(0, 191, 143);
}

.set {
    margin-right:30px;
    display: flex;
    align-items: center;
    height: 60px;
}

.r-setting .set {
    justify-content: center;
    font-size: 16px;
}

.set-icon-after {
    margin-left: 5px;
    color: black;
}

.set-icon-before {
    margin-right: 10px;
}

.form-container {
    display: flex;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/form-container-background.webp");
    width: 100%;
    height: 723px;
}

.left-form-container {
    color: white;
    display: flex;
    justify-content:right;
    margin-top: 50px;
    width: 50%;
}

.form-container-text {
    flex-direction: column;
    display: flex;
    width: 540px;
    height:675px;
}

.dog-text {
    margin-top: 20px;
    margin-bottom: 15px;
}

.form-container-text span {
    font-size: 30px;
    margin-bottom: 15px;

}

.form-container-text h2 {
    margin-bottom: 15px;
    font-size: 60px;
    font-family: Muli-Bold;
}

.right-form-container {
    margin-left:30px;
    display: flex;
    margin-top: 50px;
    width: 50%;
}

.module-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: white;
    width: 536px;
    height: 675px;
    border-radius: 5px;
    box-shadow: rgba(71, 71, 71, 0.47) 0px 2px 11px 0px;

}

.header-module {
    font-size:19px;
    color: rgb(114, 114, 114);
    font-family: Muli-Bold;

}

.first-module {
    display: flex;
    padding: 10px;
    border-width: 1px;
    margin-top: 10px;
    width: 330px;
    height: 50px;
    border-radius: 7px;
    font-size:19px;
}

.module-rule {
    margin-top:14px;
    color: rgb(114, 114, 114);
}

.module-policy {
    margin-top:14px;
    color: rgb(114, 114, 114);
}

.button-start {
    margin-top: 30px;
}
.btn-start {
    background: #d1d1d1;
    color: rgb(114, 114, 114);
    justify-content: center;
    align-items: center;
    display: flex;
    width: 130px;
    height: 40px;
    font-size: 15px;
    border-radius: 7px;
    border-width: 0px;
    font-family: Muli-Bold;
}